* {margin: 0; padding: 0 }
body {font: 12px/18px Arial, sans-serif; width: 100%; background: url(/resource/img/bg.jpg) top center no-repeat}
a {color: #fff; font-weight: bold}
input[type=text], input[type=password], input[type=email]{height: 15px; width: 200px; padding: 5px; margin-bottom: 5px;}
input[type=submit], input[type=reset] {color: #fff; text-decoration: none; background: #D44B38; padding: 8px; border: 1px solid #A83B2D} 
input[type=submit]:hover, input[type=reset]:hover { background: #E85F4C}
select {height:30px; margin-bottom: 5px;}

.wrapper {width: 1000px; margin: 0 auto}
.header {width: 1000px; height: 150px; background: url(/resource/img/logo.png)}
.content {width: 1000px; height: 500px; background: #fff}

.MenuHead {width: 1000px; height: 60px}
.Menu {float:left; display: inline-block;  height: 20px; background: #35886E; padding: 20px; color: #fff; font-size: 20px}
.Menu:hover {opacity: 0.5; cursor: pointer}
.Page {padding: 20px}

.footer {height: 10px; background: #35886E; padding: 20px; color: #fff}